@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f9fafb; /* Tailwind's gray-50 */
  font-family: 'Inter', sans-serif;
   @apply overflow-x-hidden;
}
html {
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth; /* enables smooth scrolling */
  scroll-padding-top: 80px; /* adjust this to your navbar height */
}

